<a href="https://colab.research.google.com/github/tral909/DL-2021/blob/main/hw_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Физтех-Школа Прикладной математики и информатики (ФПМИ) МФТИ</b></h3>

<h2 style="text-align: center;"><b>Библиотека <a href="http://pandas.pydata.org/">pandas</a>: домашнее задание</b></h2>

Перед этим заданием необходимо просмотреть и прорешать соответствующий семинар. Он полезный, правда!

In [ ]:
#!pip install pandas

In [ ]:
import pandas as pd
import numpy as np

<img src="http://www.keepcalmstudio.com/_gallery/1500/kcs_dd487f3f.png" width=300 height=300>

### Даю DATA: https://drive.google.com/open?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI

In [ ]:
data = pd.read_csv('https://drive.google.com/uc?id=1il9RDoxwrgUjoOqd9yvdV760_M1AvziI')

Посмотрим, что же такое переменная `data`:

In [ ]:
data

        User_ID Product_ID  ... Product_Category_3 Purchase
0       1000001  P00069042  ...                NaN     8370
1       1000001  P00248942  ...               14.0    15200
2       1000001  P00087842  ...                NaN     1422
3       1000001  P00085442  ...                NaN     1057
4       1000002  P00285442  ...                NaN     7969
...         ...        ...  ...                ...      ...
537572  1004737  P00193542  ...                NaN    11664
537573  1004737  P00111142  ...               16.0    19196
537574  1004737  P00345942  ...                NaN     8043
537575  1004737  P00285842  ...                NaN     7172
537576  1004737  P00118242  ...                NaN     6875

[537577 rows x 12 columns]

In [ ]:
type(data)

pandas.core.frame.DataFrame

---

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [ ]:
#data.groupby('Age').size()
len(data['Age'].value_counts())

7

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [ ]:
data.query("City_Category == 'A' and Gender == 'M'")

        User_ID Product_ID  ... Product_Category_3 Purchase
5       1000003  P00193542  ...                NaN    15227
9       1000005  P00274942  ...                NaN     7871
10      1000005  P00251242  ...                NaN     5254
11      1000005  P00014542  ...                NaN     3957
12      1000005  P00031342  ...                NaN     6073
...         ...        ...  ...                ...      ...
537566  1004736  P00048742  ...                NaN     5350
537567  1004736  P00157542  ...                NaN     1994
537568  1004736  P00250642  ...                NaN     5930
537569  1004736  P00023142  ...                NaN     7042
537570  1004736  P00162442  ...                NaN    15491

[109831 rows x 12 columns]

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [ ]:
data.query("Age == '46-50' & Gender == 'F' & Purchase > 20000")

        User_ID Product_ID  ... Product_Category_3 Purchase
1106    1000187  P00247642  ...                NaN    20771
5620    1000905  P00052842  ...                NaN    23449
8982    1001376  P00255842  ...                NaN    20425
10833   1001654  P00035442  ...                NaN    20810
13697   1002038  P00109242  ...               10.0    20214
...         ...        ...  ...                ...      ...
534571  1004305  P00259942  ...                NaN    20575
534581  1004305  P00093642  ...                NaN    20688
535312  1004408  P00101342  ...                NaN    20257
536807  1004614  P00116142  ...               16.0    23904
537005  1004651  P00103642  ...                NaN    20698

[270 rows x 12 columns]

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [ ]:
data['Product_Category_3'].isna().sum()

373299

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [ ]:
# Группировка с процентным соотношением по возрастам
# (data['Age'].value_counts(normalize=True).sort_index()*100).round(decimals=4)
len(data.query("(Age == '26-35' and Gender == 'M') or (Age >= '36' and Gender == 'F')")) / len(data)

0.4077201963625676

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).